  <div class="container-fluid">
    <div class="container">
      <h1 class="titulo"> El aroma mágico</h1>
      <img 
        src="assets/img/cafe.jpg"
        alt="granos de café">
    </div>  
  </div> 
 
    <div class="tabla-completa" >
      <table class= tabla>
        <thead class="table-head">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Región</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cafe of cafes">
            <td class="espacioColumn1">{{cafe.id}}</td>
            <td class="espacioColumn">{{cafe.nombre}}</td>
            <td class="espacioColumn">{{cafe.tipo}}</td>
            <td class="espacioColumn">{{cafe.region}}</td>           
          </tr>  
        </tbody>
      </table>
    </div>

