.margingeneral{
   margin: 0 83px 0 113px;;
}




.titulo { 
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Indie Flower;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
   
    
    }

    .tabla-completa{       
        font-family: 'inter';
        font-weight: 400;
        font-size: 18px;
        line-height: 21.78px;
    }

    .table-head{

        background-color: #000;
        color: #fff;
    }

    .espacioColumn{
        padding-right: 15px;
        
    }
    .espacioColumn1{
        padding-right: 40px;
        padding-left: 10px;
        font-weight: bold;
    }

    .borde-fila{
        border-bottom: 1px solid #747272;
    }